@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<img src="~/assets/Contact Us.jpg" />
<address>
    Plot No. 44/97 A, 3rd cross,<br />
    Electronic City, Hosur Road,<br />
    Bengaluru - 560 100<br />
    <abbr title="Phone">P:</abbr>
    +91 80 2852 0261 / +91 80 3987 2222
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Sai_Kumar@infosys.com">Sai_Kumar@infosys.com</a><br />
</address>